/* src/App.css */
:root {
  margin: auto;
  text-align: center;
  color: white;
  background-color: black;
}

/* src/App.css */
.slide-container {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  position: relative; /* To position the Next button */
  overflow: hidden; /* Hide overflow for sliding effect */
}

.slide-content {
  padding: 20px;
  margin-bottom: 20px;
  user-select: none; /* Prevent text selection during swipe */
  transition: transform 0.5s ease-in-out;
}

.slide-nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px; /* Space for the Next button */
}

.nav-dot {
  width: 8px;
  height: 8px;
  background-color: rgb(30,41,59);
  border-radius: 50%;
  cursor: pointer;
}

.nav-dot.active {
  background-color: rgb(14,165,233);
  border-radius: 5px;
  width: 16px;
}

.next-button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next-button:hover {
  background-color: #0056b3;
}